# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

using std::cin;
using std::cout;

int main
{
  cout<<"Hello World";
  
  return 0;
}
